@use './util/mixins.scss' as mixin;


/**************GLOBAL RESETS**************/
/*Box Sizing*/ 
*,
*::after,
*::before
{
  box-sizing: border-box;
  @include mixin.body();
  // overflow: hidden;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  overflow: hidden !important;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'], li {
  list-style: none;
}
a {
  text-align: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/**************GLOBAL STYLING**************/
p {
  @include mixin.body();
  color: $light-blue;
}

//TODO: The image isn't working on responsive sizes
//Desktop sizing: 1440 X 900
//Tablet: 768 X 1024
//Mobile: 375 X 667
//Create container class that will focus on each page contents width for viewports at 1366px and in between

main {
  //need to work on this for bigger screen sizes. Placement and max width sizes
  // max-width: 1680px;
  width:100%;
  min-height: 100vh;
  transition: 0.5s ease;
  overflow: hidden;
}

/* ========== MOBILE =========== */
#background {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: $dark-blue;
    background-image: var(--background-mobile);
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
    z-index: -1;
}

.page-title {
  @include mixin.nav();
  font-size: 1rem;
  letter-spacing: 2.7px;
  text-transform: uppercase;
}

.page-paragraph {
    font-size: 0.938rem;
    line-height: 1.5rem;
}


/* ========== TABLET =========== */
@include mixin.min-media-query($tablet-xs){
  #background {
    background-image: var(--background-tablet);
        background-size: 100% 100vh;
        background-position: center bottom;
        background-repeat: no-repeat;
        min-height: 100vh;
        width: 100%;
  }

  .page-title {
    font-size: 1.25rem;
    line-height: 1.5rem;
    letter-spacing: 3.38px;
  }

  .page-paragraph {
    font-size: 1rem;
    line-height: 1.75rem;
  }
}

/* ========== DESKTOP =========== */
@include mixin.min-media-query($desktop-sm){
  #background {
    background-image: var(--background-desktop);
    background-size: cover;
    background-position: right;
    width: 100%;
    min-height: 100vh;
    top: 0;
    right: 0;
  }

  .page-title {
    font-size: 1.75rem;
    line-height: 2.25rem;
    letter-spacing: 4.72px;
  }

  .page-paragraph {
    font-size: 1.125rem;
    line-height: 2rem;
  }
}

