@use '../util/mixins.scss' as mixin;

/* ========== MOBILE =========== */
#homepage {
  @include mixin.displayFlex(column, center, unset);
  text-align: center;
  margin: 40px 1.5rem 0;
  
  .hp-text-container {
    max-width: 450px;
    width: 100%;
  }
  
  .page-title{
    color: $light-blue;
    
  }

  h1 {
    @include mixin.headingTwo(100px);
    color: white;
    font-size: 80px;
    text-transform: uppercase;
    margin: 0.75rem 0;
  }

  .explore-btn-wrapper {
    @include mixin.displayFlex(row, center, center);
    margin-top: 5.5rem;
    
    button {
      @include mixin.subHeadingOne(unset);
      background-color: white;
      border: none;
      border-radius: 50%;
      color: $dark-blue;
      cursor: pointer;
      font-size: 20px;
      line-height: 20px !important;
      letter-spacing: 1.25px;
      text-transform: uppercase;
      height: 150px;
      width: 150px;
      transition: 0.4s ease-in-out;
      
    }
  }
}


/* ========== TABLET =========== */
@include mixin.min-media-query($tablet-xs) {
  #homepage {
    margin-top: 6.25rem;

    .hp-text-container{
      width: 61%;
    }

    h1 {
      @include mixin.headingOne(9.375rem);
      margin: 2rem 0;
    }

    .explore-btn-wrapper{
      margin-top: 9.125rem;
      
      button {
        @include mixin.headingFour(2rem);
        height: 15.125rem;
        width: 15.125rem;
      }
    }
  }
}    

/* ========== DESKTOP =========== */

@include mixin.min-media-query($desktop-sm) {
  #homepage {
    flex-direction: row;
    justify-content: space-between;
    
    margin: 250px auto 0;
    height: unset;
    max-width: 1158px;
    width: 100%;

    .hp-text-container {
      width: 100%;
    }

    .explore-btn-wrapper {
      border-radius: 50%;
      margin-top: 98px;
      
      button{
        height: 17.125rem;
        width: 17.125rem;

        &:hover {
          box-shadow: 0px 0px 0px 100px rgba(255, 255, 255, 0.12);
        }
      }
    }
  }
}

